<% @page_title = "Section" %>

<div class="container">
	<div class="jumbotron">
		<p>You have <%= pluralize(@sections.size, 'destination')%> </p>

		<div class="row">
			<div class="col-md-6"><%= link_to("Add new destination", {:action => 'new', :page_id => @page.id}, :class => "btn btn-default btn-block")%></div>
			<div class="col-md-6"><%= link_to("Back", {:controller => 'pages', :action => 'index',:subject_id => @page.subject_id}, :class => "btn btn-default btn-block") %></div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-1"><h5>No 		</h5></div>
			<div class="col-md-1"><h5>Destination 	</h5></div>
			<div class="col-md-2"><h5>Picture 		</h5></div>
			<div class="col-md-1"><h5>Departure 	</h5></div>
			<div class="col-md-1"><h5>Return 		</h5></div>
			<div class="col-md-1"><h5>Price 		</h5></div>
			<div class="col-md-1"><h5>Trip 			</h5></div>
			<div class="col-md-1"><h5>Category 		</h5></div>
			<div class="col-md-1"><h5>Visible 		</h5></div>
			<div class="col-md-2"> </div>
		</div>
		<% @sections.each do |section|%>
		<hr>
			<div class="row">
				<div class="col-md-1"><%= section.position %></div>
				<div class="col-md-1"><%= section.name %></div>
				<div class="col-md-2"><%= link_to image_tag(section.permalink, :class => "img-circle", size: "120x120") %></div>
				<div class="col-md-1"><%= section.departure %></div>
				<div class="col-md-1"><%= section.return %></div>
				<div class="col-md-1"><%= number_to_currency(section.price) %></div>
				<div class="col-md-1">
					
					<% case section.trip %>
						<% when "Aeroplane" %>
							<%= image_tag("airport.png", :class => "img-circle", size: "60x60")%>
						<% when "Bus" %>
							<%= image_tag("bus.png", :class => "img-circle", size: "60x60")%>
						<% when "Ship" %>
							<%= image_tag("ship.png", :class => "img-circle", size: "60x60")%>
						<% when "Bike" %>
							<%= image_tag("airport.png", :class => "img-circle", size: "60x60")%>
						<% when "Other" %>
							<%= image_tag("airport.png", :class => "img-circle", size: "60x60")%>
						<% else %>
							<%= image_tag("bus.png", :class => "img-circle", size: "60x60")%>
					<%end%>

				</div>	
				<div class="col-md-1"><%= section.tip %></div>
				<div class="col-md-1"><%= status_tag(section.visible) %></div>
				<div class="col-md-2">
					<%= link_to "Edit", {:action => 'edit', :id => section.id, :page_id => @page.id}, :class => "btn btn-default btn-block" %>
					<%= link_to "Delete", {:action => 'delete', :id => section.id, :page_id => @page.id}, :class => "btn btn-default btn-block" %>
				</div>			
			</div>
		<%end%>
		
	</div>
</div>

