<% @page_title = 'Delete Subject'%>

<% if current_user.email == @subject.user.email %>
	<div class="container">
		<div class="jumbotron">
			<h2>Are you sure?</h2>

		<%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id }) do %>
			<p>You want delete <strong><%= @subject.name %></strong></p>
			<p><%= image_tag(@subject.logo, :class => 'img-circle', size: '120x100')%></p>
			
			<div class="row">
				<div class="col-md-6"><%= submit_tag("Delete", :class => "btn btn-default btn-block")%></div>
				<div class="col-md-6"><%= link_to("Back", {:action => 'index'}, :class => "btn btn-default btn-block" )%></div>
			</div>
		<% end %>
		</div>
	</div>
<%else%>
	<script>
		window.location.replace("http://stackoverflow.com")
	</script>
<%end%>