<% @page_title = 'Subject'%>

<div class="container">
	<div class="jumbotron">	
		
		<p><%= pluralize(@subjects.size, 'subject')%> using this application!</p>

		<% if user_signed_in? %>
			<p>You are login like <%= current_user.email %> </p>
		<%end%>
		<div class="row">
			<div class="col-md-6"><%= link_to "New Subject", {:action => 'new'}, :class => "btn btn-default btn-block" %></div>
			<div class="col-md-6"><%= link_to "Back", {:controller => 'public', :action => 'index'}, :class => "btn btn-default btn-block" %></div>
		</div>	
		<br>


		<div class="row">
			<div class="col-md-1"><h4>No	</h4></div>
			<div class="col-md-2"><h4>Logo	</h4></div>
			<div class="col-md-3"><h4>Name of agency </h4></div>
			<div class="col-md-1"><h4>User </h4></div>
			<div class="col-md-1"><h4>Visible </h4></div>
			<div class="col-md-2"><h4>Number of pages </h4></div>
		</div>
		
		<% @subjects.each do |subject| %>
			<% if subject.user == current_user %>
			<hr>
				<div class="row">
					<div class="col-md-1"><%= subject.position %></div>
					<div class="col-md-2"><%= image_tag(subject.logo, :class => "img-circle", size: "180x120") %>
					</div>
					<div class="col-md-3"><%= link_to subject.name, {:action => 'show', :id => subject.id } %>	

					</div>
					<div class="col-md-1"><%= subject.user.email %>	</div>
					<div class="col-md-1"><%= status_tag(subject.visible) %> </div>
					<div class="col-md-2"><%= subject.pages.size%> </div>				
					<div class="col-md-2">
						<%= link_to "Pages", {:controller => 'pages', :subject_id => subject.id}, :class => "btn btn-default btn-block" %>	
					</div>
				</div>
			<%end%>	
		<%end%>	
	</div>
</div>
