<!DOCTYPE html>
<html>
<head>
  <title>Vacation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  	<script >
		$(document).ready(function($){
			$('#mega-menu-tut').dcMegaMenu({
				rowItems: '3',
				speed: 'fast'
			});
		});
	</script>


</head>
<body>

	<%= render(:partial => 'subjects/header') %>
<%= yield %>

</body>
</html>
